@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clock-color: #EEEEEE;
    --main-text-color: #1e1e1e;
}

/* .clock {
    font-family: "Bebas Neue";
    color: var(--main-text-color);
    display: flex;
    flex-direction: row;
    gap: 4px;
    width: fit-content;
} */

.clock {
    font-family: "Bebas Neue";
    color: var(--main-text-color);
    display: flex;
    flex-direction: row;
    gap: 2%;
    height: 185.6px;
    width: 247.5px;
    /* aspect-ratio: 4/3; */
    /* height: 100vh; */
}


.clock-left, .clock-right {
    background-color: var(--clock-color);
    height: 100%;
    padding: 4%; /*looks at the parent's width*/
    border-radius: 4%;
}

.time-element {
    font-size: 128px;
    font-weight: 600;
    line-height: 120%;
    text-decoration: line-through 1% var(--clock-color);
}

.clock-meridiem, .clock-day {
    line-height: 100%;
}

.clock-day {
    text-align: right;
}