@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

:root {
    --clock-color: #EEEEEE;
    --main-text-color: #1e1e1e;
    --height: 96vh; /*set to the height of the viewport*/
}

.clock {
    font-family: "Bebas Neue";
    color: var(--main-text-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    height: var(--height);
    aspect-ratio: 4/3; /*width to height ratio is 4 : 3*/
    /*width: fit-content;*/ /*you can use this property instead of aspect-ratio*/
}


.clock-left, .clock-right {
    background-color: var(--clock-color);
    height: 100%;
    width: 100%;
    padding: 4%; /*4% from the parent's width*/
    border-radius: 4%;
}

.time-element {
    font-size: calc(var(--height) * 0.7); /*calculate the font size based on height variable*/
    font-weight: 600;
    line-height: 120%;
    text-decoration: line-through 1% var(--clock-color);
}

.clock-meridiem, .clock-day {
    font-size: calc(var(--height) * 0.1);
    line-height: 100%;
}

.clock-day {
    text-align: right;
}